.DS_Store
.tags
straight/*
!straight/versions
eln-cache/*
.local/*
vimish-fold
projects
recentf
auto-save-list/*
history
custom.el
transient/*
bookmarks
url/*
tramp
elfeed
tree-sitter/*
codeium
.ctags.d
# citre stored temp configuration in this directory.